p {
    font-family: 'sans-serif, bold';
}
/* Responsive styles */
@media only screen and (min-width: 1024px) {
    /* Desktop laptops (laptops, 1024 and up) */
    p {
        font-size: 1rem;
    }

    .card {  
        display: block !important;
        width: 100% !important;
        flex:none !important;
    }

    .checkmark {
        font-size: 1rem;
    }

}

@media only screen and (min-width: 768px) and (max-width: 1023px){
    /* Large devices (tablets, 768px and up) */
    p {
        font-size: 1rem;
    }

    .card {  
        display: block !important;
        width: 45rem !important;
        flex:none !important;
    }

    .checkmark {
        font-size: 1rem;
    }

}

@media only screen and (min-width: 576px) and (max-width: 767px){
    /* Medium devices (landscape phones, 576px and up) */
    p {
        font-size: 1rem;
    }

    .card {
        display: block !important;
        width: 45rem !important;
        flex:none !important;
    }

    .checkmark {
        font-size: 0.6rem;
    }

}

@media only screen and (max-width: 575px) {
    /* Small devices (phones, less than 576px) */
    p {
        font-size: 0.6rem;
    }
    .card {
        display: block !important;
        width: 25rem !important;
        flex:none !important;
    }
    .checkmark {
        font-size: 0.6rem;
    }

}

@media (orientation: portrait) {
    /* Portrait orientation */
    p {
        font-size: 1rem; /* Reset font size for portrait */
    }

    .checkmark {
        font-size: 0.6rem;
    }
}

