.tc {
    background-image: linear-gradient( #fdfcfb, #e2d1c3);
}

.lead {
    text-align: justify;
}

.em {
    text-align: justify;
    font-family: sans-serif;
}

.accordion-button {
    background-color: #e0e0e0 !important;
  }
  
  .accordion-button:focus {
    box-shadow: none;
  }

  .accordion-header {
    font-family:monospace;
  }

/* Responsive styles */
@media (min-width: 992px) {
    /* Desktop laptops (laptops, 1024 and up) */
    p {
        font-size: 1rem;
    }

    .card {  
        display: block !important;
        width: 100% !important;
        flex:none !important;
    }

    .checkmark {
        font-size: 1rem;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    /* Large devices (tablets, 768px and up) */
    .logo {
        position: relative;
        width: 200px;
        height: 100px;
        margin-left: 220px;
    }

    .out-logo {
        position: relative;
        margin-bottom: 1px;
        width: 200px;
        height: 10px;
        margin-left: 220px; 
    }

    .content {
        margin-right: 160px;
        margin-left: 120px;
    }

    p {
        font-size: 0.6rem;
    }

    .card-body {
        margin-top: 50px;
    }

    .card {
        width: 100%;
        margin: 0 auto;
    } 

    .checkmark {
        font-size: 1rem;
        text-align: left;
    }

    .btn-primary {
        position: relative;
        margin-left: 250px;
    }

}

@media (min-width: 576px) and (max-width: 767px){
    /* Medium devices (landscape phones, 576px and up) */
    .logo {
        display: block;
        width: 200px;
        height: 100px;
        margin-left: 150px;
    }

    .out-logo {
        position: relative;
        margin-bottom: 1px;
        width: 200px;
        height: 10px;
        margin-left: 150px; 
    }

    .content {
        margin-left: 80px;
    }

    p {
        font-size: 0.6rem;
    }

    .card-body {
        margin-top: 50px;
    }

    .card {
        width: 100%;
        margin: 0 auto;
    } 

    .checkmark {
        font-size: 0.8rem;
        text-align: left;
    }

    .btn-primary {
        position: relative;
        margin-left: 180px;
    }
}

@media (min-width: 391px) and (max-width: 575px) {
    /* Small devices (phones, less than 576px) */
    .logo {
        display: block;
        width: 150px;
        height: 70px;
        margin-left: 120px;
    }

    .out-logo {
        position: relative;
        margin-bottom: 1px;
        width: 150px;
        height: 10px;
        margin-left: 100px; 
    }

    .content {
        margin-left: 20px;
    }

    p {
        font-size: 0.6rem;
    }

    .card-body {
        margin-top: 20px;
    }

    .card {
        width: 100%;
        margin: 0 auto;
    } 

    .checkmark {
        font-size: 0.8rem;
        text-align: left;
    }

    .btn-primary {
        position: relative;
        margin-left: 120px;
    }
}

@media (max-width: 390px) {
    /* Small devices (phones, less than 576px) */
    .logo {
        display: block;
        width: 150px;
        height: 70px;
        margin-left: 100px;
    }

    .out-logo {
        position: relative;
        margin-bottom: 1px;
        width: 150px;
        height: 10px;
        margin-left: 100px; 
    }

    .content {
        margin-left: 20px;
    }

    p {
        font-size: 0.6rem;
    }

    .card-body {
        margin-top: 20px;
    }

    .card {
        width: 100%;
        margin: 0 auto;
    } 

    .checkmark {
        font-size: 0.8rem;
        text-align: left;
    }

    .btn-primary {
        position: relative;
        margin-left: 100px;
    }
}

